/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

@media only screen and (min-width : 320px) {}

@media only screen and (min-width : 380px) {
    .headerline__logo {
        max-width: 272px;
    }
}

@media only screen and (min-width : 480px) {
    .header__content {
        width: 410px;
    }
    .logo {
        width: 350px;
        height: 32px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .article-like {
        margin-bottom: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .bullets {
        padding: 50px 0;
    }
    .bullet {
        margin-top: 0;
    }
    .carditem .t1a {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .headerline__nav {
        display: flex !important;
        padding-top: 0;
    }
    .carditem__top {
        padding: 47px 65px 37px;
    }
    .carditem__row {
        padding: 40px 65px 30px;
    }
    .carditem__row_last {
        padding: 22px 65px 20px;
    }
    .offer-block {
        padding: 14px 65px 47px;
    }
    .offer-block-bg {
        padding: 40px 65px 38px;
    }
    .offer-block-bg .t1a {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .footer {
        padding: 0;
    }
    .footer-link {
        display: block;
        padding: 38px 0 36px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .carditem__img {
        margin-bottom: 0;
    }
    .carditem .carditem__btn1 {
        margin-top: 0;
    }
    .carditem__btn2 {
        margin-top: 57px;
    }
}